Repository xwiki/xwiki-platform, pull requests merged in 2024-08, with the labels that each got.

#3315 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-index/xwiki-platform-index-tree/xwiki-platform-index-tree-macro/src/main/resources/XWiki/DocumentTreeTranslations.de.xml
Labels: backport stable-15.10.x

#3325 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-index/xwiki-platform-index-tree/xwiki-platform-index-tree-api/src/main/resources/ApplicationResources_de.properties
Labels: backport stable-15.10.x

#3320 XWIKI-22392: Some Live Data links are still underlined although 'Underline links' setting is set to 'Only Inline Links'
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/general.less
Labels: backport stable-16.4.x

#3313 XWIKI-22334: Improve contrast of the CKEditor tables
  xwiki-platform-core/xwiki-platform-ckeditor/xwiki-platform-ckeditor-ui/src/main/resources/CKEditor/EditSheet.xml
Labels: backport stable-15.10.x, backport stable-16.4.x

#3339 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-ckeditor/xwiki-platform-ckeditor-ui/src/main/resources/CKEditor/Translations.ru.xml
  xwiki-platform-core/xwiki-platform-help/xwiki-platform-help-ui/src/main/resources/Help/Translations.ru.xml
  xwiki-platform-core/xwiki-platform-notifications/xwiki-platform-notifications-ui/src/main/resources/XWiki/Notifications/Code/Translations.ru.xml
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources_ru.properties
Labels: backport stable-15.10.x

#3344 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources_ru.properties
Labels: backport stable-15.10.x

#3349 XWIKI-22448: Batch id link for document restoration does not have any text
  xwiki-platform-core/xwiki-platform-index/xwiki-platform-index-ui/src/main/resources/XWiki/DeletedDocuments.xml
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-templates/src/main/resources/templates/recyclebinlist.vm
Labels: backport stable-15.10.x, backport stable-16.4.x

#3301 XWIKI-22347: Diff view misplaced button when there's no previous version
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/misc.less
Labels: backport stable-15.10.x, backport stable-16.4.x

#3302 XWIKI-22348: Underlining of usernames is inconsistent between comment form and displayed comments
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/general.less
Labels: backport stable-16.4.x

#3033 XWIKI-14032: The long names of submenus are showing out of the menu box (not wrapped) and the name of the submenus that use plain text and don't have other submenus don't have left margins
  xwiki-platform-core/xwiki-platform-menu/xwiki-platform-menu-ui/src/main/resources/Menu/MenuMacro.xml
Labels: backport stable-15.10.x, backport stable-16.4.x

#3042 XWIKI-17966: Mention events should display the name of the wiki where they took place in Notifications
  xwiki-platform-core/xwiki-platform-mentions/xwiki-platform-mentions-notifications/src/main/resources/templates/mentions/mention.vm
  xwiki-platform-core/xwiki-platform-mentions/xwiki-platform-mentions-notifications/src/test/java/org/xwiki/mentions/templates/MentionPageTest.java
Labels: backport stable-15.10.x, backport stable-16.4.x

#3297 XWIKI-22131: Update the wand icon used in the Panel Application
  xwiki-platform-core/xwiki-platform-icon/xwiki-platform-icon-fontawesome/src/main/resources/IconThemes/FontAwesome.xml
  xwiki-platform-core/xwiki-platform-panels/xwiki-platform-panels-ui/src/main/resources/Panels/WebHome.xml
Labels: backport stable-15.10.x, backport stable-16.4.x

#3298 XWIKI-22345: XWiki Syntax guide vertical menu links are unexpectedly underlined
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/general.less
Labels: backport stable-16.4.x

#2956 XWIKI-21966: Cannot exit horizontal drop-down menu using accessibility tools
  xwiki-platform-core/xwiki-platform-menu/xwiki-platform-menu-ui/src/main/resources/Menu/MenuMacro.xml
Labels: backport stable-15.10.x, backport stable-16.4.x

#3119 XWIKI-22166: Contrast of paragraph edit buttons is too low
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/headers.less
Labels: backport stable-15.10.x, backport stable-16.4.x

#3120 XWIKI-22169: Breadcrumb dropdowns for navigation should be keyboard accessible
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/breadcrumbs.less
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-templates/src/main/resources/templates/hierarchy_macros.vm
Labels: backport stable-15.10.x, backport stable-16.4.x

#3300 XWIKI-21766: Notification preferences dropdown carets are not animated
  xwiki-platform-core/xwiki-platform-notifications/xwiki-platform-notifications-ui/src/main/resources/XWiki/Notifications/Code/NotificationsApplicationsPreferencesMacro.xml
Labels: backport stable-15.10.x, backport stable-16.4.x

#3377 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources_de.properties
  xwiki-platform-core/xwiki-platform-repository/xwiki-platform-repository-server-ui/src/main/resources/ExtensionCode/Translations.de.xml
Labels: backport stable-15.10.x

#3376 XWIKI-22169: Breadcrumb dropdowns for navigation should be keyboard accessible
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources.properties
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-templates/src/main/resources/templates/hierarchy_macros.vm
Labels: backport stable-15.10.x, backport stable-16.4.x
