Repository xwiki/xwiki-platform, pull requests merged in 2024-07, with the labels that each got.

#3245 XWIKI-22304: Do not trigger the lightbox feature for images from the Gallery macro
  xwiki-platform-core/xwiki-platform-rendering/xwiki-platform-rendering-macros/xwiki-platform-rendering-macro-gallery/src/main/java/org/xwiki/rendering/internal/macro/gallery/GalleryMacro.java
  xwiki-platform-core/xwiki-platform-rendering/xwiki-platform-rendering-macros/xwiki-platform-rendering-macro-gallery/src/test/resources/macrogallery1.test
  xwiki-platform-core/xwiki-platform-rendering/xwiki-platform-rendering-macros/xwiki-platform-rendering-macro-gallery/src/test/resources/macrogallery2.test
  xwiki-platform-core/xwiki-platform-rendering/xwiki-platform-rendering-macros/xwiki-platform-rendering-macro-gallery/src/test/resources/macrogallery3.test
Labels: backport stable-15.10.x, backport stable-16.4.x, backport stable-16.5.x

#3255 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-export/xwiki-platform-export-pdf/xwiki-platform-export-pdf-ui/src/main/resources/XWiki/PDFExport/Translations.de.xml
Labels: backport stable-15.10.x

#3266 XWIKI-22287: Error in attribute in XWiki Search (Search Facets > Location)
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-templates/src/main/resources/templates/hierarchy_macros.vm
Labels: backport stable-15.10.x, backport stable-16.4.x

#3205 XWIKI-22261: Deleted pages table of the page index generates invalid links to permanently delete pages
  xwiki-platform-core/xwiki-platform-index/xwiki-platform-index-ui/src/main/resources/XWiki/DeletedDocuments.xml
Labels: backport stable-15.10.x, backport stable-16.4.x

#3233 XWIKI-18047: Non existing pages can be rated
  xwiki-platform-core/xwiki-platform-model/xwiki-platform-model-api/src/main/java/org/xwiki/model/reference/DocumentReference.java
  xwiki-platform-core/xwiki-platform-model/xwiki-platform-model-api/src/test/java/org/xwiki/model/reference/DocumentReferenceTest.java
  xwiki-platform-core/xwiki-platform-ratings/xwiki-platform-ratings-api/src/main/java/org/xwiki/ratings/internal/SolrRatingsManager.java
  xwiki-platform-core/xwiki-platform-ratings/xwiki-platform-ratings-api/src/main/java/org/xwiki/ratings/script/AbstractScriptRatingsManager.java
  xwiki-platform-core/xwiki-platform-ratings/xwiki-platform-ratings-api/src/main/java/org/xwiki/ratings/script/RatingsScriptService.java
  xwiki-platform-core/xwiki-platform-ratings/xwiki-platform-ratings-api/src/test/java/org/xwiki/ratings/internal/SolrRatingsManagerTest.java
  xwiki-platform-core/xwiki-platform-ratings/xwiki-platform-ratings-ui/src/main/resources/XWiki/Ratings/RatingsUIX.xml
Labels: backport stable-15.10.x, backport stable-16.4.x

#3277 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-help/xwiki-platform-help-ui/src/main/resources/Help/Translations.de.xml
Labels: backport stable-15.10.x

#3279 XWIKI-15049: NotificationsApplicationsPreferencesMacro stylesheet not using Color Themes variables
  xwiki-platform-core/xwiki-platform-notifications/xwiki-platform-notifications-ui/src/main/resources/XWiki/Notifications/Code/NotificationsApplicationsPreferencesMacro.xml
Labels: backport stable-15.10.x

#3085 XWIKI-22120: Live Data links are underlined although 'Underline links' setting is set to 'Only Inline Links'
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/general.less
Labels: backport stable-16.4.x

#3288 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-help/xwiki-platform-help-ui/src/main/resources/Help/Translations.pt_BR.xml
Labels: backport stable-15.10.x

#3292 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources_zh.properties
Labels: backport stable-15.10.x

#3304 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-ckeditor/xwiki-platform-ckeditor-ui/src/main/resources/CKEditor/Translations.de.xml
Labels: backport stable-15.10.x
