Repository xwiki/xwiki-platform, pull requests merged in 2024-02, with the labels that each got.

#2837 XWIKI-21849: No link to next page at the bottom of LiveData
  xwiki-platform-core/xwiki-platform-livedata/xwiki-platform-livedata-webjar/src/main/vue/LivedataBottombar.vue
  xwiki-platform-core/xwiki-platform-livedata/xwiki-platform-livedata-webjar/src/main/vue/layouts/cards/LayoutCards.vue
  xwiki-platform-core/xwiki-platform-livedata/xwiki-platform-livedata-webjar/src/main/vue/layouts/table/LayoutTable.vue
Labels: backport stable-15.10.x

#2820 XWIKI-21618: The wizard step-done icons are hard coded
  xwiki-platform-core/xwiki-platform-appwithinminutes/xwiki-platform-appwithinminutes-ui/src/main/resources/AppWithinMinutes/WizardStep.xml
Labels: backport stable-15.10.x

#2821 XWIKI-21600: Various close button modals do not use icons
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/export_modal.vm
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-templates/src/main/resources/templates/locationPicker_macros.vm
Labels: backport stable-15.10.x

#2865 XWIKI-21869: Upgrade to jstree 3.3.16
  xwiki-platform-core/xwiki-platform-tree/xwiki-platform-tree-webjar/pom.xml
Labels: backport stable-15.10.x

#2866 XWIKI-21851: Found page in the Page Tree macro with a Solr field cannot be opened by left-clicking
  xwiki-platform-core/xwiki-platform-tree/xwiki-platform-tree-webjar/src/main/webjar/finder.js
Labels: backport stable-15.10.x

#2881 XWIKI-21880: Cannot delete user defined filters
  xwiki-platform-core/xwiki-platform-notifications/xwiki-platform-notifications-filters/xwiki-platform-notifications-filters-api/src/main/java/org/xwiki/notifications/filters/internal/DefaultNotificationFilterPreferenceManager.java
  xwiki-platform-core/xwiki-platform-notifications/xwiki-platform-notifications-filters/xwiki-platform-notifications-filters-api/src/test/java/org/xwiki/notifications/filters/internal/DefaultNotificationFilterPreferenceManagerTest.java
Labels: backport stable-15.10.x

#2897 XWIKI-21886: No contrast on Readable colorTheme message boxes
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/messages.less
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/variablesInit.vm
Labels: backport stable-15.10.x

#2901 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-notifications/xwiki-platform-notifications-ui/src/main/resources/XWiki/Notifications/Code/Translations.ru.xml
Labels: backport stable-15.10.x, backport stable-16.0.x, backport stable-15.5.x, backport stable-14.10.x

#2914 XWIKI-21894: JSC_PARSE_ERROR in Tour.WebHome
  xwiki-platform-core/xwiki-platform-tour/xwiki-platform-tour-ui/src/main/resources/Tour/WebHome.xml
Labels: backport stable-15.10.x, backport stable-16.1.x

#2885 XWIKI-21884: Uploading files during page creation step will mark XWikiGuest as creator
  xwiki-platform-core/xwiki-platform-rest/xwiki-platform-rest-server/src/main/java/org/xwiki/rest/internal/resources/BaseAttachmentsResource.java
  xwiki-platform-core/xwiki-platform-rest/xwiki-platform-rest-server/src/test/java/org/xwiki/rest/internal/resources/attachments/AttachmentsResourceImplTest.java
Labels: backport stable-15.10.x

#2929 XWIKI-21809: ClassCastException in DefaultEventConverterManager on a cluster environment
  xwiki-platform-core/xwiki-platform-eventstream/xwiki-platform-eventstream-api/src/main/java/org/xwiki/eventstream/internal/AbstractAsynchronousEventStore.java
  xwiki-platform-core/xwiki-platform-eventstream/xwiki-platform-eventstream-api/src/test/java/org/xwiki/eventstream/internal/AsynchronousEventStoreTest.java
Labels: backport stable-15.10.x, backport stable-14.10.x

#2832 XWIKI-21842: The search bar takes too much width when folded
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/action-menus.less
Labels: backport stable-15.10.x

#2788 XWIKI-19150: The Page Like UI is not following the common template style for a page
  xwiki-platform-core/xwiki-platform-like/xwiki-platform-like-api/src/main/resources/templates/likers.vm
Labels: backport stable-15.10.x

#2921 XWIKI-17702: Annotation anchor not working when "show annotations" is off
  xwiki-platform-core/xwiki-platform-annotation/xwiki-platform-annotation-test/xwiki-platform-annotation-test-docker/src/test/it/org/xwiki/annotation/test/ui/AnnotationsIT.java
  xwiki-platform-core/xwiki-platform-annotation/xwiki-platform-annotation-test/xwiki-platform-annotation-test-pageobjects/src/main/java/org/xwiki/annotation/test/po/AnnotatableViewPage.java
  xwiki-platform-core/xwiki-platform-annotation/xwiki-platform-annotation-ui/src/main/resources/AnnotationCode/Script.xml
  xwiki-platform-core/xwiki-platform-test/xwiki-platform-test-ui/src/main/java/org/xwiki/test/ui/po/CommentsTab.java
Labels: backport stable-15.10.x, backport stable-16.1.x
