Repository xwiki/xwiki-platform, pull requests merged in 2024-10, with the labels that each got.

#3199 XWIKI-22202: Underline inline links on the doc renaming page
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/general.less
Labels: backport stable-16.4.x

#3534 XWIKI-22501: Attachment progress info is lacking contrast
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-war/src/main/webapp/resources/uicomponents/widgets/upload.css
Labels: backport stable-15.10.x, backport stable-16.4.x

#3379 XWIKI-18816: Useless and somewhat invalid <dt> markup on the login form
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/misc.less
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/login.vm
Labels: backport stable-15.10.x, backport stable-16.4.x

#3571 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-refactoring/xwiki-platform-refactoring-api/src/main/resources/ApplicationResources_de.properties
Labels: backport stable-15.10.x

#3583 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-logging/xwiki-platform-logging-ui/src/main/resources/XWiki/Logging/Code/Translations.zh.xml
Labels: backport stable-15.10.x

#3586 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-administration/xwiki-platform-administration-ui/src/main/resources/XWiki/TemplateProviderTranslations.zh.xml
  xwiki-platform-core/xwiki-platform-ckeditor/xwiki-platform-ckeditor-ui/src/main/resources/CKEditor/Translations.zh.xml
  xwiki-platform-core/xwiki-platform-display/xwiki-platform-display-macro/src/main/resources/ApplicationResources_zh.properties
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources_zh.properties
Labels: backport stable-15.10.x

#3052 XWIKI-21387: The syntax highlighting done by the Code Macro lacks contrast
  xwiki-platform-core/xwiki-platform-rendering/xwiki-platform-rendering-macros/xwiki-platform-rendering-macro-code/src/main/java/org/xwiki/rendering/internal/parser/pygments/DefaultPygmentsParserConfiguration.java
  xwiki-platform-core/xwiki-platform-rendering/xwiki-platform-rendering-macros/xwiki-platform-rendering-macro-code/src/main/resources/pygments/code.py
  xwiki-platform-core/xwiki-platform-rendering/xwiki-platform-rendering-macros/xwiki-platform-rendering-macro-code/src/main/resources/pygments/styles/xwiki_default.py
  xwiki-platform-core/xwiki-platform-rendering/xwiki-platform-rendering-macros/xwiki-platform-rendering-macro-code/src/test/resources/macrocode14.test
  xwiki-platform-core/xwiki-platform-rendering/xwiki-platform-rendering-macros/xwiki-platform-rendering-macro-code/src/test/resources/macrocode15.test
  xwiki-platform-core/xwiki-platform-rendering/xwiki-platform-rendering-macros/xwiki-platform-rendering-macro-code/src/test/resources/macrocode4.test
  xwiki-platform-core/xwiki-platform-rendering/xwiki-platform-rendering-macros/xwiki-platform-rendering-macro-code/src/test/resources/macrocode7.test
Labels: backport stable-15.10.x

#3598 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-search/xwiki-platform-search-solr/xwiki-platform-search-solr-ui/src/main/resources/Main/SolrTranslations.de.xml
Labels: backport stable-15.10.x

#3603 XWIKI-12629: Page Right is shown when administering inexistent WebHome page
  xwiki-platform-core/xwiki-platform-administration/xwiki-platform-administration-test/xwiki-platform-administration-test-docker/src/test/it/org/xwiki/administration/test/ui/AdministrationIT.java
Labels: backport stable-15.10.x, backport stable-16.4.x

#3593 XWIKI-22293: HTML error and non-rendered Velocity in export modal
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/export_modal.vm
Labels: backport stable-15.10.x, backport stable-16.4.x

#3615 XWIKI-22625: TestUtils#getURL doesn't take the wiki into account
  xwiki-platform-core/xwiki-platform-test/xwiki-platform-test-ui/pom.xml
  xwiki-platform-core/xwiki-platform-test/xwiki-platform-test-ui/src/main/java/org/xwiki/test/ui/TestUtils.java
  xwiki-platform-core/xwiki-platform-test/xwiki-platform-test-ui/src/test/java/org/xwiki/test/ui/TestUtilsTest.java
Labels: backport stable-15.10.x, backport stable-16.4.x
