Repository xwiki/xwiki-platform, pull requests merged in 2024-05, with the labels that each got.

#3101 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-index/xwiki-platform-index-ui/src/main/resources/Index/Translations.pt.xml
Labels: backport stable-15.10.x

#3102 XWIKI-22146: Black square when drag-and-dropping an image in WYSIWYG
  xwiki-platform-core/xwiki-platform-ckeditor/xwiki-platform-ckeditor-plugins/src/main/webjar/xwiki-filter/plugin.js
Labels: backport stable-15.10.x, backport stable-14.10.x, backport stable-16.3.x

#3110 XWIKI-22151: Impossible to move a page to a space with spaces in the name
  xwiki-platform-core/xwiki-platform-tree/xwiki-platform-tree-webjar/src/main/webjar/tree.js
Labels: backport stable-16.3.x

#3027 XWIKI-22041: Image pasted during tests has no alternative
  xwiki-platform-core/xwiki-platform-ckeditor/xwiki-platform-ckeditor-test/xwiki-platform-ckeditor-test-docker/src/test/it/org/xwiki/ckeditor/test/ui/ImageIT.java
Labels: backport stable-15.10.x

#3026 XWIKI-22040: Select tour step order has no name
  xwiki-platform-core/xwiki-platform-tour/xwiki-platform-tour-ui/src/main/resources/TourCode/StepSheet.xml
Labels: backport stable-15.10.x

#3103 XWIKI-22148: The search results are not hidden when the focus moves out of the quick search field
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/action-menus.less
Labels: backport stable-15.10.x, backport stable-16.3.x

#3094 XWIKI-22138: Tips panel does not have underline style for links in subwiki
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/general.less
Labels: backport stable-16.4.x

#3132 XWIKI-22183: FilesystemAttachmentVersioningStore#loadArchive leads to a switch of metadata dirty flag
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-test/xwiki-platform-flamingo-skin-test-docker/src/test/it/org/xwiki/flamingo/test/docker/RenamePageIT.java
  xwiki-platform-core/xwiki-platform-store/xwiki-platform-store-filesystem-oldcore/src/main/java/org/xwiki/store/legacy/store/internal/FilesystemAttachmentVersioningStore.java
Labels: backport stable-16.4.x

#3135 XWIKI-22187: Cannot get revisions with a criteria on a document not stored in DB
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-test/xwiki-platform-flamingo-skin-test-docker/src/test/it/org/xwiki/flamingo/test/docker/VersionIT.java
  xwiki-platform-core/xwiki-platform-oldcore/src/main/java/com/xpn/xwiki/store/XWikiHibernateVersioningStore.java
  xwiki-platform-core/xwiki-platform-oldcore/src/main/java/com/xpn/xwiki/store/XWikiVersioningStoreInterface.java
  xwiki-platform-core/xwiki-platform-oldcore/src/test/java/com/xpn/xwiki/store/XWikiVersioningStoreInterfaceTest.java
Labels: backport stable-15.10.x, backport stable-16.4.x

#3146 XWIKI-22200: Missing `set` from .bat scripts causes 'XWIKI_OPTS' to not be recognized
  xwiki-platform-tools/xwiki-platform-tool-jetty/xwiki-platform-tool-jetty-resources/src/main/resources/start_xwiki.bat
  xwiki-platform-tools/xwiki-platform-tool-jetty/xwiki-platform-tool-jetty-resources/src/main/resources/start_xwiki_debug.bat
Labels: backport stable-16.4.x
