Repository xwiki/xwiki-platform, pull requests merged in 2024-11, with the labels that each got.

#3621 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-uiextension/xwiki-platform-uiextension-api/src/main/resources/ApplicationResources_zh.properties
Labels: backport stable-15.10.x

#3510 XWIKI-22484: The alternative for the home link on the logo does not mean anything
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/companylogo.vm
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources.properties
Labels: backport stable-16.4.x

#3535 XWIKI-21116: `@dropdown-link-color` doesn't apply to breadcrumb's dropdown links
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/breadcrumbs.less
Labels: backport stable-16.4.x

#3630 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources_de.properties
Labels: backport stable-15.10.x

#3635 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources_zh.properties
Labels: backport stable-15.10.x

#3639 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources_zh.properties
Labels: backport stable-15.10.x

#3651 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources_zh.properties
Labels: backport stable-15.10.x

#3652 XWIKI-22659: createinline template error when clicking on a link to missing top level page
  xwiki-platform-core/xwiki-platform-administration/xwiki-platform-administration-test/xwiki-platform-administration-test-docker/src/test/it/org/xwiki/administration/test/ui/PageTemplatesIT.java
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-test/xwiki-platform-flamingo-skin-test-docker/src/test/it/org/xwiki/flamingo/test/docker/CreatePageAndSpaceIT.java
  xwiki-platform-core/xwiki-platform-test/xwiki-platform-test-ui/src/main/java/org/xwiki/test/ui/po/CreatePagePage.java
  xwiki-platform-core/xwiki-platform-test/xwiki-platform-test-ui/src/main/java/org/xwiki/test/ui/po/ViewPage.java
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-templates/src/main/resources/templates/createinline.vm
Labels: backport stable-15.10.x, backport stable-16.4.x, backport stable-16.10.x

#3122 XWIKI-22170: Element order in the right side menu should be changed to fit reading order
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/less/action-menus.less
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/menus_macros.vm
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/menus_view.vm
Labels: backport stable-16.10.x

#3666 XWIKI-22121: Improve the registration experience
  xwiki-platform-core/xwiki-platform-test/xwiki-platform-test-ui/src/main/java/org/xwiki/test/ui/po/AbstractRegistrationPage.java
  xwiki-platform-core/xwiki-platform-test/xwiki-platform-test-ui/src/main/java/org/xwiki/test/ui/po/FormContainerElement.java
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-templates/src/main/resources/templates/register_macros.vm
Labels: backport stable-16.10.x

#3200 XWIKI-22205: Underline inline link in CSRF confirmation Panel
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources.properties
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-templates/src/main/resources/templates/resubmit.vm
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-war/src/main/webapp/resources/js/xwiki/actionbuttons/actionButtons.js
Labels: backport stable-16.10.x

#3552 XWIKI-22523: Hitting the Enter key in fields on XWiki pages opens the hamburger content menu
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/menus_content.vm
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-templates/src/main/resources/templates/hierarchy_macros.vm
Labels: backport stable-15.10.x, backport stable-16.4.x, backport stable-16.10.x

#3675 XWIKI-22680: Regression on createAndDeleteUser
  xwiki-platform-core/xwiki-platform-administration/xwiki-platform-administration-test/xwiki-platform-administration-test-pageobjects/src/main/java/org/xwiki/administration/test/po/ResetPasswordCompletePage.java
  xwiki-platform-core/xwiki-platform-test/xwiki-platform-test-ui/src/main/java/org/xwiki/test/ui/po/FormContainerElement.java
  xwiki-platform-core/xwiki-platform-user/xwiki-platform-user-profile/xwiki-platform-user-profile-test/xwiki-platform-user-profile-test-pageobjects/src/main/java/org/xwiki/user/test/po/ChangePasswordPage.java
Labels: backport stable-16.10.x

#3692 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources_zh.properties
Labels: backport stable-15.10.x, backport stable-16.10.x

#3695 XWIKI-22665: Required rights should be cached
  xwiki-platform-core/xwiki-platform-oldcore/pom.xml
  xwiki-platform-core/xwiki-platform-oldcore/src/main/java/org/xwiki/internal/document/DefaultDocumentRequiredRightsManager.java
  xwiki-platform-core/xwiki-platform-oldcore/src/main/java/org/xwiki/internal/document/DefaultSimpleDocumentCache.java
  xwiki-platform-core/xwiki-platform-oldcore/src/main/java/org/xwiki/internal/document/DocumentRequiredRightsReader.java
  xwiki-platform-core/xwiki-platform-oldcore/src/main/java/org/xwiki/internal/document/SimpleDocumentCache.java
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/META-INF/components.txt
  xwiki-platform-core/xwiki-platform-oldcore/src/test/java/com/xpn/xwiki/api/DocumentTest.java
  xwiki-platform-core/xwiki-platform-oldcore/src/test/java/com/xpn/xwiki/test/MockitoOldcore.java
  xwiki-platform-core/xwiki-platform-oldcore/src/test/java/org/xwiki/internal/document/DefaultDocumentRequiredRightsManagerTest.java
  xwiki-platform-core/xwiki-platform-oldcore/src/test/java/org/xwiki/internal/document/DefaultSimpleDocumentCacheTest.java
  xwiki-platform-core/xwiki-platform-security/xwiki-platform-security-authorization/xwiki-platform-security-authorization-bridge/src/main/java/org/xwiki/security/authorization/internal/DefaultDocumentRequiredRightsManager.java
  xwiki-platform-core/xwiki-platform-security/xwiki-platform-security-authorization/xwiki-platform-security-authorization-bridge/src/main/resources/META-INF/components.txt
  xwiki-platform-core/xwiki-platform-security/xwiki-platform-security-authorization/xwiki-platform-security-authorization-bridge/src/test/java/org/xwiki/security/authorization/internal/DefaultDocumentRequiredRightsManagerTest.java
  xwiki-platform-core/xwiki-platform-test/xwiki-platform-test-page/src/main/java/org/xwiki/test/page/PageComponentList.java
Labels: backport stable-16.10.x
