Repository xwiki/xwiki-platform, pull requests merged in 2024-09, with the labels that each got.

#3385 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources_de.properties
Labels: backport stable-15.10.x

#3398 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-notifications/xwiki-platform-notifications-ui/src/main/resources/XWiki/Notifications/Code/Translations.pt.xml
Labels: backport stable-15.10.x

#3500 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-ckeditor/xwiki-platform-ckeditor-ui/src/main/resources/CKEditor/Translations.de.xml
Labels: backport stable-15.10.x

#3517 XWIKI-22335: Cannot import a ppt with LibreOffice 24.2.5
  pom.xml
  xwiki-platform-core/xwiki-platform-office/xwiki-platform-office-importer/src/main/java/org/xwiki/officeimporter/internal/builder/DefaultPresentationBuilder.java
  xwiki-platform-core/xwiki-platform-office/xwiki-platform-office-importer/src/main/java/org/xwiki/officeimporter/internal/builder/PresentationBuilderConfiguration.java
  xwiki-platform-core/xwiki-platform-office/xwiki-platform-office-importer/src/main/resources/META-INF/components.txt
  xwiki-platform-core/xwiki-platform-office/xwiki-platform-office-importer/src/test/java/org/xwiki/officeimporter/internal/builder/DefaultPresentationBuilderTest.java
  xwiki-platform-core/xwiki-platform-office/xwiki-platform-office-importer/src/test/java/org/xwiki/officeimporter/internal/builder/PresentationBuilderConfigurationTest.java
  xwiki-platform-core/xwiki-platform-office/xwiki-platform-office-importer/src/test/resources/custom-document-formats.json
  xwiki-platform-core/xwiki-platform-office/xwiki-platform-office-importer/src/test/resources/pdf.pdf
  xwiki-platform-core/xwiki-platform-test/xwiki-platform-test-docker/src/main/java/org/xwiki/test/docker/internal/junit5/servletengine/ServletContainerExecutor.java
  xwiki-platform-tools/xwiki-platform-tool-configuration-resources/src/main/resources/xwiki.properties.vm
Labels: backport stable-15.10.x, backport stable-16.4.x, backport stable-16.8.x

#3499 XWIKI-22508: Creating a link in WYSIWYG by selecting text should follow the name strategy
  xwiki-platform-core/xwiki-platform-ckeditor/xwiki-platform-ckeditor-plugins/src/main/webjar/xwiki-link/plugin.js
Labels: backport stable-16.8.x

#3514 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-help/xwiki-platform-help-ui/src/main/resources/XWiki/XWikiSyntaxImages.de.xml
Labels: backport stable-15.10.x

#3524 [Misc] Fix repository clone error on NTFS filesystems
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-test/xwiki-platform-flamingo-skin-test-docker/src/test/it/org/xwiki/flamingo/test/docker/AttachmentIT.java
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-test/xwiki-platform-flamingo-skin-test-docker/src/test/resources/AttachmentIT/<strong>EscapedAttachment.txt
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-test/xwiki-platform-flamingo-skin-test-pageobjects/src/main/java/org/xwiki/flamingo/skin/test/po/AttachmentsPane.java
Labels: backport stable-15.10.x, backport stable-16.4.x
