Repository xwiki/xwiki-platform, pull requests merged in 2024-04, with the labels that each got.

#3058 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-administration/xwiki-platform-administration-ui/src/main/resources/XWiki/AdminTranslations.ru.xml
  xwiki-platform-core/xwiki-platform-notifications/xwiki-platform-notifications-ui/src/main/resources/XWiki/Notifications/Code/Translations.ru.xml
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources_ru.properties
  xwiki-platform-core/xwiki-platform-repository/xwiki-platform-repository-server-ui/src/main/resources/ExtensionCode/Translations.ru.xml
  xwiki-platform-core/xwiki-platform-security/xwiki-platform-security-authentication/xwiki-platform-security-authentication-default/src/main/resources/ApplicationResources_ru.properties
Labels: backport stable-15.10.x

#3060 Translations update from Weblate
  xwiki-platform-core/xwiki-platform-administration/xwiki-platform-administration-ui/src/main/resources/XWiki/AdminTranslations.de.xml
  xwiki-platform-core/xwiki-platform-administration/xwiki-platform-administration-ui/src/main/resources/XWiki/AdminTranslations.uk.xml
  xwiki-platform-core/xwiki-platform-ckeditor/xwiki-platform-ckeditor-ui/src/main/resources/CKEditor/Translations.uk.xml
  xwiki-platform-core/xwiki-platform-icon/xwiki-platform-icon-macro/src/main/resources/ApplicationResources_de.properties
  xwiki-platform-core/xwiki-platform-icon/xwiki-platform-icon-macro/src/main/resources/ApplicationResources_uk.properties
  xwiki-platform-core/xwiki-platform-notifications/xwiki-platform-notifications-ui/src/main/resources/XWiki/Notifications/Code/Translations.de.xml
  xwiki-platform-core/xwiki-platform-notifications/xwiki-platform-notifications-ui/src/main/resources/XWiki/Notifications/Code/Translations.uk.xml
  xwiki-platform-core/xwiki-platform-oldcore/src/main/resources/ApplicationResources_de.properties
  xwiki-platform-core/xwiki-platform-security/xwiki-platform-security-authentication/xwiki-platform-security-authentication-default/src/main/resources/ApplicationResources_de.properties
  xwiki-platform-core/xwiki-platform-security/xwiki-platform-security-authentication/xwiki-platform-security-authentication-default/src/main/resources/ApplicationResources_uk.properties
Labels: backport stable-15.10.x

#3038 XWIKI-18802: Display the whole breadcrumb of the pages in the notification email
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-templates/src/main/resources/templates/notification/email/macros.vm
Labels: backport stable-15.10.x

#3078 XWIKI-22108: Extra empty paragraph and spacing in the information panel in edit mode
  xwiki-platform-core/xwiki-platform-panels/xwiki-platform-panels-ui/src/main/resources/Panels/IncludedPagesDocumentInformation.xml
Labels: backport stable-15.10.x, backport stable-16.3.x

#3082 XWIKI-22118: Application panel "more applications" dropdown display is wrong on Chrome
  xwiki-platform-core/xwiki-platform-panels/xwiki-platform-panels-ui/src/main/resources/Panels/Applications.xml
Labels: backport stable-15.10.x, backport stable-16.3.x

#3083 XWIKI-22123: Pressing "Enter" key does not validate the image choice in Gallery on Chrome and Edge
  xwiki-platform-core/xwiki-platform-attachment/xwiki-platform-attachment-picker/xwiki-platform-attachment-picker-ui/src/main/resources/Attachment/Picker/Code/CKEditorImagePlugin.xml
Labels: backport stable-16.3.x

#3084 XWIKI-22119: Live Data Delete actions from Notifications Custom Filters do not have red icons as other Live Data tables
  xwiki-platform-core/xwiki-platform-notifications/xwiki-platform-notifications-filters/xwiki-platform-notifications-filters-default/src/main/java/org/xwiki/notifications/filters/internal/livedata/custom/NotificationCustomFiltersLiveDataConfigurationProvider.java
Labels: backport stable-16.3.x

#3076 XWIKI-22082: Some LiveData tables flicker on page refresh
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-war/src/main/webapp/resources/uicomponents/suggest/xwiki.selectize.css
Labels: backport stable-15.10.x, backport stable-16.3.0.x

#3096 [Misc] Fix missing assert in test
  xwiki-platform-core/xwiki-platform-repository/xwiki-platform-repository-server-ui/src/test/java/org/xwiki/repository/server/ui/ExtensionSheetPageTest.java
Labels: backport stable-15.10.x, backport stable-16.3.x
