Repository xwiki/xwiki-platform, pull requests merged in 2025-03, with the labels that each got.

#3950 [Misc] Upgrade to latest LO LTS
  pom.xml
Labels: backport stable-14.10.x, backport stable-16.4.x, backport stable-16.10.x, backport stable-17.1.x

#3901 XWIKI-22877: UIX in the information tab cannot load JavaScript and CSS resources
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/docextra.vm
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-templates/src/main/resources/templates/informationinline.vm
Labels: backport stable-16.10.x

#3972 [Misc] Migrate xwiki-platform-wiki-user-script to junit 5
  xwiki-platform-core/xwiki-platform-wiki/xwiki-platform-wiki-user/xwiki-platform-wiki-user-script/src/test/java/org/xwiki/wiki/user/script/WikiUserManagerScriptServiceTest.java
Labels: backport stable-16.4.x, backport stable-16.10.x, backport stable-17.1.x

#3976 [Misc] Migrate xwiki-platform-wiki-template-script to junit 5
  xwiki-platform-core/xwiki-platform-wiki/xwiki-platform-wiki-template/xwiki-platform-wiki-template-script/src/test/java/org/xwiki/wiki/template/script/WikiTemplateManagerScriptTest.java
Labels: backport stable-16.4.x, backport stable-16.10.x, backport stable-17.1.x

#3981 XWIKI-22974: Mentions without an anchor in changed content don't trigger notifications
  xwiki-platform-core/xwiki-platform-mentions/xwiki-platform-mentions-default/pom.xml
  xwiki-platform-core/xwiki-platform-mentions/xwiki-platform-mentions-default/src/main/java/org/xwiki/mentions/internal/analyzer/UpdatedDocumentMentionsAnalyzer.java
  xwiki-platform-core/xwiki-platform-mentions/xwiki-platform-mentions-default/src/test/java/org/xwiki/mentions/internal/analyzer/UpdatedDocumentMentionsAnalyzerTest.java
Labels: backport stable-16.4.x, backport stable-16.10.x

#3946 XWIKI-22960: WCAG not complied in navigation panel administration
  xwiki-platform-core/xwiki-platform-panels/xwiki-platform-panels-test/xwiki-platform-panels-test-docker/src/test/it/org/xwiki/panels/test/ui/docker/NavigationPanelAdministrationIT.java
  xwiki-platform-core/xwiki-platform-test/xwiki-platform-test-ui/src/main/java/org/xwiki/test/ui/WCAGContext.java
Labels: backport stable-16.4.x, backport stable-16.10.x

#3885 XWIKI-10871: Misalignments in the class editor on mobile
  xwiki-platform-core/xwiki-platform-flamingo/xwiki-platform-flamingo-skin/xwiki-platform-flamingo-skin-resources/src/main/resources/flamingo/editclass.vm
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-war/src/main/webapp/resources/js/xwiki/editors/dataeditors.css
Labels: backport stable-16.10.x

#4008 XWIKI-23019: Oracle inconsistent datatypes error when using user suggest for multiple users
  xwiki-platform-core/xwiki-platform-appwithinminutes/xwiki-platform-appwithinminutes-test/xwiki-platform-appwithinminutes-test-docker/src/test/it/org/xwiki/appwithinminutes/test/ui/UserClassFieldIT.java
  xwiki-platform-core/xwiki-platform-oldcore/src/main/java/com/xpn/xwiki/internal/objects/classes/UsedValuesListQueryBuilder.java
  xwiki-platform-core/xwiki-platform-oldcore/src/test/java/com/xpn/xwiki/internal/objects/classes/UsedValuesListQueryBuilderTest.java
Labels: backport stable-16.4.x, backport stable-16.10.x, backport stable-17.2.x
