Repository xwiki/xwiki-platform, pull requests merged in 2025-08, with the labels that each got.

#4403 XWIKI-23413: Separators in navigation tree dropdown
  xwiki-platform-core/xwiki-platform-bootstrap/src/main/less/dropdowns.less
  xwiki-platform-core/xwiki-platform-livedata/xwiki-platform-livedata-webjar/src/main/node/src/components/LivedataDropdownMenu.vue
Labels: backport stable-16.10.x, backport stable-17.4.x

#4470 XWIKI-23451: Configuration of CustomNotificationFilterPreferences livedata cannot be overridden
  xwiki-platform-core/xwiki-platform-extension/xwiki-platform-extension-security/xwiki-platform-extension-security-api/src/main/java/org/xwiki/extension/security/internal/livedata/ExtensionSecurityLiveDataConfigurationResolver.java
  xwiki-platform-core/xwiki-platform-livedata/xwiki-platform-livedata-api/src/main/java/org/xwiki/livedata/AbstractLiveDataConfigurationResolver.java
  xwiki-platform-core/xwiki-platform-livedata/xwiki-platform-livedata-api/src/main/java/org/xwiki/livedata/internal/JSONMerge.java
  xwiki-platform-core/xwiki-platform-livedata/xwiki-platform-livedata-livetable/src/main/java/org/xwiki/livedata/internal/livetable/DefaultLiveDataConfigurationResolver.java
  xwiki-platform-core/xwiki-platform-notifications/xwiki-platform-notifications-filters/xwiki-platform-notifications-filters-default/src/main/java/org/xwiki/notifications/filters/internal/livedata/custom/NotificationCustomFiltersLiveDataConfigurationResolver.java
  xwiki-platform-core/xwiki-platform-notifications/xwiki-platform-notifications-filters/xwiki-platform-notifications-filters-default/src/main/java/org/xwiki/notifications/filters/internal/livedata/system/NotificationSystemFiltersLiveDataConfigurationResolver.java
Labels: backport stable-16.10.x, backport stable-17.4.x, backport stable-17.7.x

#4478 XWIKI-20630: Improve usability of the "Change Password" page
  xwiki-platform-core/xwiki-platform-user/xwiki-platform-user-profile/xwiki-platform-user-profile-test/xwiki-platform-user-profile-test-docker/src/test/it/org/xwiki/user/test/ui/UserChangePasswordIT.java
  xwiki-platform-core/xwiki-platform-user/xwiki-platform-user-profile/xwiki-platform-user-profile-test/xwiki-platform-user-profile-test-pageobjects/src/main/java/org/xwiki/user/test/po/ChangePasswordPage.java
Labels: backport stable-17.7.x

#4482 XWIKI-17011: Maximize link should be placed on the upper-right corner of a textarea
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-war/src/main/webapp/resources/uicomponents/widgets/fullScreen.css
Labels: backport stable-16.10.x, backport stable-17.4.x, backport stable-17.7.x

#4498 XWIKI-23463: Errors with DocumentTreeMacroIT with Mysql UTF-8
  xwiki-platform-core/xwiki-platform-index/xwiki-platform-index-test/xwiki-platform-index-test-docker/src/test/it/org/xwiki/index/test/ui/docker/DynamicTestConfigurationExtension.java
Labels: backport stable-17.7.x

#4496 XWIKI-19281: Breaking bootstrap modal when using Wiki editor
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-templates/src/main/resources/templates/simpleedittoolbar.vm
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-war/src/main/webapp/resources/js/xwiki/editors/simpletoolbar.css
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-war/src/main/webapp/resources/js/xwiki/editors/simpletoolbar.js
  xwiki-platform-core/xwiki-platform-web/xwiki-platform-web-war/src/main/webapp/resources/js/xwiki/wikieditor/wikibits.js
Labels: backport stable-16.10.x, backport stable-17.4.x
